* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./background.jpg");
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./tasks-background.jpg");
    background-size: contain;
    width: 70%;
    height: 918px;
}

#hide-form {
    align-self: center;
    border: none;
    border-radius: 6px;
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: orangered;
    color: white;
}

#hide-form:hover {
    transform: scale(1.2);
    transition: 300ms;
    cursor: pointer;
}

#add-task-form {
    display: flex;
    flex-direction: column;

    label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 4px;

        input {
            border: none;
            border-radius: 6px;
            margin-left: 10px;
            width: 200px;
            height: 20px;
        }

        input:focus {
            outline: none;
            transform: scale(1.1);
            transition: 300ms;
        }

        #name-error-message {
            display: none;
            color: red;
            margin-left: 6px;
        }

        #description-error-message {
            display: none;
            color: red;
            margin-left: 6px;
        }

        #inputs-are-same-error {
            display: none;
            color: red;
            margin-left: 6px;
        }
    }

    button {
        align-self: center;
        border: none;
        border-radius: 6px;
        width: 150px;
        height: 30px;
        background-color: greenyellow;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    button:hover {
        transform: scale(1.2);
        transition: 300ms;
        cursor: pointer;
    }
}

#tasks-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;

    li{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        height: 40px;
        background-color: skyblue;
        border-radius: 8px;
        padding: 8px;
        margin-bottom: 6px;

        span {
            margin-left: 10px;
        }

        #edit-button {
            margin-left: auto;
            margin-right: 10px;
        }

        #edit-button:hover {
            border: 2px solid springgreen;
        }

        #delete-button:hover {
            border: 2px solid red;
        }

        button{
            border: none;
            border-radius: 4px;
            width: 60px;
            height: 20px;
        }

        button:hover {
            cursor: pointer;
        }
    }

    li:hover {
        cursor: pointer;
        background-color: cornflowerblue;
        transition: 500ms;
    }
}

#task-modal {
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:white;
    border:1px solid black;
    padding:20px;
    box-shadow:0 2px 10px rgba(0,0,0,0.9);

    h3{
        text-align: center;
    }

    p{
        margin-bottom: 4px;
    }

    button{
        align-self: center;
        margin-top: 10px;
        border: none;
        border-radius: 6px;
        background-color: orangered;
        width: 150px;
        height: 30px;
    }
}

#sort-filter {

    margin-bottom: 10px;

    select{
        width: 140px;
        height: 30px;
        border-radius: 6px;
        border: 1px solid burlywood;
        background-color: darkseagreen;
    }
}