* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./background.jpg");
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./tasks-background.jpg");
    background-size: contain;
    width: 70%;
    height: 918px;
}

#hide-form {
    align-self: center;
    border: none;
    border-radius: 6px;
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: orangered;
    color: white;
}

#hide-form:hover {
    transform: scale(1.2);
    transition: 300ms;
    cursor: pointer;
}

#add-task-form {
    display: flex;
    flex-direction: column;

    label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 4px;

        input {
            border: none;
            border-radius: 6px;
            margin-left: 10px;
            width: 200px;
            height: 20px;
        }

        input:focus {
            outline: none;
            transform: scale(1.1);
            transition: 300ms;
        }
    }

    button {
        align-self: center;
        border: none;
        border-radius: 6px;
        width: 150px;
        height: 30px;
        background-color: greenyellow;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    button:hover {
        transform: scale(1.2);
        transition: 300ms;
        cursor: pointer;
    }
}

#tasks-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;

    li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: skyblue;
        border-radius: 8px;
        padding: 8px;
        margin-bottom: 6px;

        button{
            border: none;
            border-radius: 4px;
            width: 60px;
            height: 20px;
        }
    }
}