* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: cornflowerblue;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: 40px;

    #back-button {
        width: 100%;
        height: 40px;
        border-radius: 8px;
        background-color: orange;
        text-underline: none;
    }

    #back-button:hover {
        cursor: pointer;
    }
}

#edit-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        margin-top: 10px;
        width: 200px;
        height: 40px;
        border-radius: 6px;
        padding: 6px;
        background-color: cadetblue;
    }

    input:focus {
        transition: 700ms ease;
        background-color: gray;

    }

    button {
        margin-top: 10px;
        width: 50px;
        height: 20px;
        border-radius: 4px;
        border-color: forestgreen;
        background-color: forestgreen;
        color: white;
    }

    button:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}