* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
}

#not-found {
    display: none;
    margin-top: 10px;
    width: 500px;
    height: 1000px;
    background-image: url("./not-found.png");
    background-size: contain;
    background-repeat: no-repeat;

    button {
        margin-top: 756px;
        width: 100%;
        height: 40px;
        border-radius: 8px;
        background-color: orange;
    }

    button:hover {
        cursor: pointer;
    }
}

#edit-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        margin-top: 10px;
        width: 200px;
        height: 40px;
    }

    button {
        margin-top: 10px;
    }
}